---
import Layout from "@/layouts/Layout.astro";
import Container from "@/widgets/Container.astro";
import IaaSConfigurator from "@/widgets/cloud-services/iaas/IaaSConfigurator";
import Hero from "@/widgets/Hero.astro";
import AboutSection from "@/components/shared/AboutSection.astro";

import iaasImg from "@/assets/iaas.png";
import NumberedHighlight from "@/components/shared/NumberedHighlight.astro";
import { iaas_advantages, iaas_advantages_2 } from "@/lib/data/iaasData";
import AdvantageCard from "@/components/shared/AdvantageCard.astro";
---

<Layout title="IaaS on Openstack">
  <Container>
    <Hero imgSrc={iaasImg.src}>
      <h1 class="text-3xl font-medium lg:text-5xl">
        <span class="text-secondary">IaaS</span> (инфраструктура как услуга)
      </h1>
      <p class="text-sm mt-2 lg:text-xl">
        бизнес-модель, позволяющая в облачной среде самостоятельно создавать и
        клонировать виртуальные серверы, менять их конфигурацию, управлять
        настройками
      </p>
    </Hero>

    <AboutSection title="Что такое IaaS?">
      <p>
        IaaS (инфраструктура как услуга) – это гибкое облачное решение, которое
        позволяет самостоятельно создавать и клонировать виртуальные сервера,
        менять их конфигурацию, а также управлять настройками
      </p>
    </AboutSection>

    <AdvantageCard
      title="IaaS vs собственная инфраструктура: в чем выгода?"
      data={iaas_advantages_2}
    />

    <IaaSConfigurator client:load />
    <NumberedHighlight
      data={iaas_advantages}
      title="Сценарии использования IaaS"
    />
  </Container>
</Layout>
