---
import AboutSection from "@/components/shared/AboutSection.astro";
import AdvantageCard from "@/components/shared/AdvantageCard.astro";
import Layout from "@/layouts/Layout.astro";
import VdsCards from "@/widgets/cloud-services/vds/VdsCards";
import Container from "@/widgets/Container.astro";
import Hero from "@/widgets/Hero.astro";

import vdsImg from "@/assets/vds.svg";
import {
  operatingSystems,
  vdsAdvantages,
  operatingSystemsWithProgram,
} from "@/lib/data/vdsData";
import TabNavigation from "@/widgets/cloud-services/vds/TabNavigation";
import { MoveRight } from "lucide-react";
import TrialSection from "@/widgets/TrialSection.astro";
---

<Layout title="Virtual Dedicated Server – виртуальный выделенный сервер">
  <Container>
    <Hero imgSrc={vdsImg.src}>
      <div>
        <a
          href="https://portal.smartcloud.uz/index.php?/cart/vds-ssd-/"
          class="group inline-block"
          target="_blank"
        >
          <div
            class="p-2 px-6 bg-secondary/10 flex items-center gap-2 hover:bg-secondary/50 rounded-md"
          >
            10 дней бесплатного доступа к мощной облачной инфраструктуре
            <MoveRight className="group-hover:translate-x-2 transition-all" />
          </div>
        </a>
        <h1 class="text-3xl font-medium lg:text-5xl mt-10">
          <span class="text-secondary">Virtual Dedicated Server</span> – виртуальный
          выделенный сервер
        </h1>
        <p class="text-xl mt-6">
          Получите полный контроль над сервером, изолированную инфраструктуру и
          поддержку 24/7. Экономьте на оборудовании и управляйте своим сервером
          удаленно. Надежность, скорость и безопасность для вашего проекта!
        </p>
      </div>
    </Hero>

    <AboutSection title="Возможности VDS">
      <p>
        VDS справляется с разными задачами – от хостинга сайтов-визиток до
        размещения веб-порталов, требующих значительных технических ресурсов.
        Благодаря гибкости масштабирования VDS позволяет строить
        IТ-инфраструктуру быстро и экономично, что подходит для крупных
        компаний, стартапов, разработчиков, DevOps-инженеров
      </p>
    </AboutSection>

    <TabNavigation
      operatingSystems={operatingSystems}
      operatingSystemsWithProgram={operatingSystemsWithProgram}
      client:visible
    />

    <VdsCards client:visible />

    <AdvantageCard
      title="Преимущества VDS"
      data={vdsAdvantages}
      cardClassName="lg:grid-cols-3"
    />
  </Container>
  <TrialSection days={10} />
</Layout>
