---
import Layout from "@/layouts/Layout.astro";
import AdvantageCard from "@/components/shared/AdvantageCard.astro";
import AboutSection from "@/components/shared/AboutSection.astro";
import Hero from "@/widgets/Hero.astro";

import baasImg from "@/assets/baas.png";
import { baasAdvantages, baasUseCases } from "@/lib/data/baasData";
import IaasUseCaseCard from "@/components/cloud-services/iaas/IaasUseCaseCard.astro";

const seoData = {
  title: "BaaS – Облачные резервные копии от SmartCloud",
  description:
    "BaaS – автоматическое резервирование данных, защита от потерь и отказов, быстрый доступ к бэкапам в облаке.",
  descriptionUz:
    "BaaS – biznes uchun bulutli zaxira nusxalari. Ma'lumotlarni avtomatik saqlash va yoʻqotishdan himoya.",
  keywords:
    "BaaS, резервное копирование, облачное хранилище, backup, защита данных, SmartCloud, облачные технологии",
  keywordsUz:
    "BaaS, zaxira nusxalari, bulut xotirasi, backup, ma’lumotlarni himoya qilish, SmartCloud",
  url: "https://smartcloud.uz/cloud-services/baas/",
  image: "https://smartcloud.uz/assets/baas.svg",
  author: "SmartCloud",
};
---

<Layout {...seoData}>
  <Hero imgSrc={baasImg}>
    <h1 class="text-dynamic font-medium leading-none"> 
      Надежные <span class="text-secondary">BaaS</span> решения для роста вашего
      предприятия
    </h1>
    <p class="text-large mt-2">
      Подключите облачное хранение копий виртуальных машин для быстрого
      восстановления первичной информации независимо от причины сбоя.
    </p>
  </Hero>

  <h1 class="text-extra-large font-medium text-center mb-dynamic">
    Сценарии использования BaaS
  </h1>

  <div class="grid md:grid-cols-2 gap-dynamic10">
    {baasUseCases.map((item) => <IaasUseCaseCard title={item} />)}
  </div>

  <AdvantageCard
    cardClassName="xl:grid-cols-3"
    title="Преимущества BaaS"
    data={baasAdvantages}
  />
  <AboutSection title="Наше уникальное предложение" className="text-extra-large">
    <div>
      <h1 class="text-large font-bold">Проверенные решения</h1>
      <p class="text-medium">
        От лидеров в области резервного копирования, репликации и восстановления
        данных
      </p>
    </div>
    <div class="my-10">
      <h1 class="text-large font-bold">Надежная инфраструктура</h1>
      <p class="text-medium">
        Резервные копии хранятся в высокозащищенном дата-центре Ташкента
      </p>
    </div>
    <div>
      <h1 class="text-large font-bold">Всегда на связи</h1>
      <p class="text-medium">
        Индивидуальная консультация и обслуживание, круглосуточная техническая
        поддержка
      </p>
    </div>
  </AboutSection>
</Layout>
