---
import Layout from "@/layouts/Layout.astro";
import Container from "@/widgets/Container.astro";
import AdvantageCard from "@/components/shared/AdvantageCard.astro";
import AboutSection from "@/components/shared/AboutSection.astro";
import Hero from "@/widgets/Hero.astro";

import baasImg from "@/assets/baas.png";
import { baasAdvantages } from "@/lib/data/baasData";
---

<Layout title="Резервное копирование - BaaS">
  <Container>
    <Hero imgSrc={baasImg.src}>
      <h1 class="text-3xl font-medium lg:text-5xl">
        Надежные <span class="text-secondary">BaaS</span> решения для роста вашего
        предприятия
      </h1>
      <p class="text-sm mt-2 lg:text-xl">
        Мощные облачные технологии для бесперебойной работы и масштабирования
        вашей инфраструктуры.
      </p>
    </Hero>

    <AboutSection title="Backup as a Service">
      <p>
        Подключите облачное хранение копий виртуальных машин для быстрого
        восстановления первичной информации независимо от причины сбоя.
      </p>
    </AboutSection>

    <AdvantageCard title="Преимущества BaaS" data={baasAdvantages} />
  </Container>
</Layout>
