---
import AboutSection from "@/components/shared/AboutSection.astro";
import AdvantageCard from "@/components/shared/AdvantageCard.astro";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/widgets/Hero.astro";

import storageImg from "@/assets/storage.webp";
import { storageAdvantages } from "@/lib/data/storageData";

const seoData = {
  title: "Облачное хранилище в Узбекистане – S3 Storage от SmartCloud",
  description:
    "Масштабируемое облачное хранилище для безопасного хранения и обработки данных. Высокая скорость, надежность и доступность.",
  descriptionUz:
    "Bulutli saqlash xizmati – yuqori tezlik va ishonchli ma'lumotlarni saqlash.",
  keywords:
    "облачное хранилище, S3 storage, резервное копирование, SmartCloud, хранение данных, облако",
  keywordsUz:
    "bulutli saqlash, S3 storage, backup, SmartCloud, ma’lumotlar xotirasi",
  url: "https://smartcloud.uz/cloud-services/s3-storage/",
  image: "https://smartcloud.uz/assets/s3-storage.svg",
  author: "SmartCloud",
};
---

<Layout {...seoData}>
  <Hero imgSrc={storageImg}>
    <h1 class="text-dynamic font-medium leading-none"> 
      <span class="text-secondary">Хранилище данных</span> – дисковое пространство
      для хранения данных
    </h1>
    <p class="text-medium mt-6">Уверенная защита от сбоев дисков.</p>
  </Hero>

  <AboutSection title="Что такое Хранилище данных?">
    <p>
      Услуга предоставляет доступ к удалённому дисковому пространству через
      Интернет. Она позволяет сгруппировать несколько физических дисков (два и
      более) в пул носителей, а затем использовать их ёмкость для создания
      виртуальных дисков –— дисковых пространств. <br /><br />
      В дисковых пространствах обычнохранятся две копии данных, поэтому в случае
      сбоя одного из дисков у вас по-прежнему будет неповреждённая копия. Если ёмкость
      заканчивается, в пул носителей можно просто добавить другие диски.
    </p>
  </AboutSection>
  <AdvantageCard
    title="Преимущества Хранилища данных"
    data={storageAdvantages}
    cardClassName="lg:grid-cols-3"
  />
</Layout>
