---
import Layout from "@/layouts/Layout.astro";
import AdvantageCard from "@/components/shared/AdvantageCard.astro";
import AboutSection from "@/components/shared/AboutSection.astro";
import Hero from "@/widgets/Hero.astro";

import baasImg from "@/assets/baas.png";
import { baasAdvantages, baasUseCases } from "@/lib/dataUZ/baasData";
import IaasUseCaseCard from "@/components/cloud-services/iaas/IaasUseCaseCard.astro";


const seoData = {
  title: "BaaS – Облачные резервные копии от SmartCloud",
  description:
    "BaaS – biznes uchun bulutli zaxira nusxalari. Ma'lumotlarni avtomatik saqlash va yoʻqotishdan himoya.",
  keywords:
    "BaaS, zaxira nusxalari, bulut xotirasi, backup, ma’lumotlarni himoya qilish, SmartCloud",
  url: "https://smartcloud.uz/uz/cloud-services/baas/",
  image: "https://smartcloud.uz/assets/baas.svg",
  author: "SmartCloud",
};
---

<Layout {...seoData}>
  <Hero imgSrc={baasImg}>
    <h1 class="text-3xl font-medium lg:text-5xl">
      <span class="text-secondary">BaaS</span> – SmartCloud’dan bulutli zaxira nusxalari
    </h1>
    <p class="text-sm mt-2 lg:text-xl">
      BaaS – biznes uchun bulutli zaxira nusxalari. Ma'lumotlarni avtomatik saqlash va yo‘qotishdan himoya.
    </p>
  </Hero>

  <h1 class="text-2xl md:text-4xl font-medium text-center mb-20">
    BaaS dan foydalanish stsenariylari
  </h1>

  <div class="grid md:grid-cols-2 gap-10">
    {baasUseCases.map((item) => <IaasUseCaseCard title={item} />)}
  </div>

  <AdvantageCard
    cardClassName="xl:grid-cols-3"
    title="BaaS afzalliklari"
    data={baasAdvantages}
  />
  <AboutSection title="Bizning noyob taklifimiz" className="my-60">
    <div>
      <h1 class="font-bold">Ishonchli yechimlar</h1>
      <p class="text-[21px]">
        Zaxira nusxalash, replikatsiya va ma’lumotlarni tiklash sohasidagi yetakchilardan
      </p>
    </div>
    <div class="my-10">
      <h1 class="font-bold">Ishonchli infratuzilma</h1>
      <p class="text-[21px]">
        Zaxira nusxalar yuqori himoyalangan Toshkentdagi ma’lumotlar markazida saqlanadi
      </p>
    </div>
    <div>
      <h1 class="font-bold">Doimiy aloqa</h1>
      <p class="text-[21px]">
        Individual maslahat va xizmat ko‘rsatish, 24/7 texnik qo‘llab-quvvatlash
      </p>
    </div>
  </AboutSection>
</Layout>
