---
import Container from "../Container.astro";
---

<div class="my-40 p-10 bg-slate-100 dark:bg-slate-900/50">
  <Container
    className="grid grid-cols-1 lg:grid-cols-2 gap-20 justify-between "
  >
    <div class="flex flex-col gap-5">
      <h2 class="text-4xl font-medium">О компании</h2>
      <p>
        Команда SmartCLoud – входит в состав международного провайдера ИКТ —
        инфраструктуры для бизнеса и предоставляет на территории Узбекистана
        услуги облачных вычислений, хранения и резервирования данных, а также —
        кибербезопаcности.
      </p>
      <p>
        Отказоустойчивая физическая и виртуальная инфраструктура,
        профессиональная команда инженеров, вариативный стек технологий
        позволяют нашим клиентам быть уверенными в непрерывности и доступности
        всех критичных процессов и удобном масштабировании бизнеса в любое
        время.
      </p>
    </div>
    <div
      class="grid grid-cols-1 items-stretch justify-center gap-5 sm:grid-cols-2"
    >
      <div class="p-5 grid gap-4 rounded-md">
        <h2 class="text-6xl font-medium">
          20<span class="text-blue-500">+</span>
        </h2>
        <p>лет опыта в сфере ИКТ</p>
      </div>
      <div class="p-5 grid gap-4 rounded-md">
        <h2 class="text-6xl font-medium">
          100<span class="text-blue-500">+</span>
        </h2>
        <p>проверенных партнеров</p>
      </div>
      <div class="p-5 grid gap-4 rounded-md">
        <h2 class="text-6xl font-medium">
          200<span class="text-blue-500">+</span>
        </h2>
        <p>постоянных заказчиков доверяют нам</p>
      </div><div class="p-5 grid gap-4 rounded-md">
        <h2 class="text-6xl font-medium">
          160<span class="text-blue-500">+</span>
        </h2>
        <p>сертифицированных сотрудников</p>
      </div>
    </div>
  </Container>
</div>
