<div
  class="mb-40 p-10 bg-slate-100 dark:bg-slate-900/50 rounded-xl"
  id="aboutUsContainer"
>
  <section class="grid grid-cols-1 lg:grid-cols-2 gap-20 justify-between">
    <div class="flex flex-col gap-5">
      <h2 class="text-4xl font-medium" id="aboutUsTitle">О компании</h2>
      <p id="aboutUsDesc">
        Команда SmartCloud – часть международного провайдера ИКТ-инфраструктуры
        —
        <br />
        <a href="https://kazteleport.kz/"> АО "Казтелепорт" </a>, предоставляет
        на территории Узбекистана услуги облачных вычислений, хранения данных,
        резервирования и кибербезопасности.
        <br />
        <br />
        Наша отказоустойчивая физическая и виртуальная инфраструктура, опытная команда
        инженеров и широкий выбор технологий гарантируют клиентам стабильность и
        доступность критически важных процессов, а также гибкость в масштабировании
        бизнеса в любой момент.
      </p>
    </div>
    <div
      class="grid grid-cols-1 items-stretch justify-center gap-5 sm:grid-cols-2"
    >
      <div class="p-5 grid gap-4 rounded-md about-us">
        <h2 class="text-6xl font-medium">
          25<span class="text-secondary">+</span>
        </h2>
        <p>лет опыта в сфере ИКТ</p>
      </div>
      <div class="p-5 grid gap-4 rounded-md about-us">
        <h2 class="text-6xl font-medium">
          100<span class="text-secondary">+</span>
        </h2>
        <p>проверенных партнеров</p>
      </div>
      <div class="p-5 grid gap-4 rounded-md about-us">
        <h2 class="text-6xl font-medium">
          200<span class="text-secondary">+</span>
        </h2>
        <p>постоянных заказчиков <br /> доверяют нам</p>
      </div>
      <div class="p-5 grid gap-4 rounded-md about-us">
        <h2 class="text-6xl font-medium">
          160<span class="text-secondary">+</span>
        </h2>
        <p>сертифицированных <br /> сотрудников</p>
      </div>
    </div>
  </section>
</div>

<script>
  import { gsapTrigger } from "@/lib/gsapTrigger";

  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".about-us");
    const aboutUsContainer = document.getElementById("aboutUsContainer");
    const aboutUsTitle = document.getElementById("aboutUsTitle");
    const aboutUsDesc = document.getElementById("aboutUsDesc");

    if (aboutUsContainer && aboutUsTitle && cards.length && aboutUsDesc) {
      const tl = gsapTrigger(aboutUsContainer);
      tl.fromTo(
        aboutUsTitle,
        { y: 50, opacity: 0 },
        { y: 0, opacity: 1, duration: 0.5 }
      );
      tl.fromTo(
        aboutUsDesc,
        { y: 50, opacity: 0 },
        { y: 0, opacity: 1, duration: 0.5 },
        "<0.2"
      );
      cards.forEach((card) => {
        tl.fromTo(
          card,
          { y: 50, opacity: 0 },
          {
            y: 0,
            opacity: 1,
            duration: 0.3,
          }
        );
      });
    }
  });
</script>
