---
import NumberCard from "@/components/shared/NumberCard.astro";
import { smartcloudAdvantages } from "@/lib/data/homeData";
---

<h2 class="text-center text-4xl font-medium">Почему именно SmartCloud?</h2>
<div
  class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 items-stretch gap-10 mt-20"
>
  {
    smartcloudAdvantages.map((item, index) => (
      <NumberCard number={++index} title={item.title} />
    ))
  }
</div>
