---
import Hero from "@/widgets/Hero.astro";
---

<Hero>
  <h1 class="text-3xl font-bold leading-none lg:text-4xl">
    Добро пожаловать в SMART<span class="text-blue-500">CLOUD</span>
  </h1>
  <h1 class="text-4xl font-bold leading-none lg:text-5xl xl:text-6xl">
    Маркетплейс облачных услуг
  </h1>
  <p class="text-md mt-2 lg:mt-10 lg:text-xl">
    Все необходимые инструменты для бизнеса в одном облаке! Быстрый старт,
    меньше расходов, высокая надежность! <br /> Оплачивайте услуги онлайн и запускайте
    свои виртуальные машины за 3 минуты с настроенной операционной системой!
  </p>
</Hero>
