---
import { service_list } from "@/lib/data/service-list";
import { getTranslations } from "@/utils/i18n";
import Text from "@/components/ui/Text.astro";

const locale = Astro.url.pathname.startsWith("/uz") ? "uz" : "ru";
const t = getTranslations(locale, "Services");
---

<section id="services" class="my-dynamic">
  <Text text={t.title} variant="h2" class="text-center mb-dynamic" id="servicesTitle"/>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
    {
      service_list.map((service) => (
        <a
          href={service.link[locale]}
          class="service-card group p-10 border-[1px] rounded-md border-gray-800 hover:border-secondary  hover:bg-gradient-to-tl from-slate-100  dark:from-[rgba(32,39,57,255)] relative overflow-hidden"
        >
          <service.icon className="mb-4" color="#0c94d4" size={36} />
          <service.icon
            className="absolute -z-120 -right-2 -bottom-10 h-52 w-52 opacity-10 group-hover:opacity-50 rotate-12"
            color="#0c94d4"
          />
          <Text text={service.label[locale]} variant="h4" class="font-bold"/>
          <Text text={service.desc[locale]} variant="h5" class="mt-2 text-gray-400 group-hover:text-black dark:group-hover:text-white"/>
        </a>
      ))
    }
  </div>
</section>
<script>
  import { gsapTrigger } from "@/lib/gsapTrigger";

  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".service-card");
    const services = document.getElementById("services");
    const servicesTitle = document.getElementById("servicesTitle");

    if (services && servicesTitle && cards.length) {
      const tl = gsapTrigger(services);
      tl.fromTo(
        servicesTitle,
        { y: 50, opacity: 0 },
        { y: 0, opacity: 1 }
      ).fromTo(
        cards,
        { y: 50, opacity: 0 },
        {
          y: 0,
          opacity: 1,
          duration: 0.2,
          stagger: 0.15,
        }
      );
    }
  });
</script>
