---
import { service_list } from "@/lib/data/service-list";
import { cn } from "@/lib/utils";
---

<section id="services" class="my-60">
  <h2 class="text-center text-4xl font-medium mb-20" id="servicesTitle">
    Наши услуги
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
    {
      service_list.map((service) => (
        <a
          href={service.link}
          class={cn(
            "service-card group p-10 border-[1px] rounded-md border-gray-800 hover:border-secondary  hover:bg-gradient-to-tl from-slate-100 transition-all dark:from-[rgba(32,39,57,255)] relative overflow-hidden",
            service.label.includes("информационной") && "md:col-span-2"
          )}
        >
          <service.icon className="mb-4" color="#0c94d4" size={36} />
          <service.icon
            className="absolute -z-120 -right-2 -bottom-10 h-52 w-52 opacity-10 group-hover:opacity-70 rotate-12"
            color="#0c94d4"
          />
          <span class="text-xl font-bold">{service.label}</span>
          <p class="mt-2 text-gray-400">{service.desc}</p>
        </a>
      ))
    }
  </div>
</section>
<script>
  import { gsapTrigger } from "@/lib/gsapTrigger";

  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".service-card");
    const services = document.getElementById("services");
    const servicesTitle = document.getElementById("servicesTitle");

    if (services && servicesTitle && cards.length) {
      const tl = gsapTrigger(services);
      tl.fromTo(
        servicesTitle,
        { y: 50, opacity: 0 },
        { y: 0, opacity: 1, duration: 0.3 }
      ).fromTo(
        cards,
        { y: 50, opacity: 0 },
        {
          y: 0,
          opacity: 1,
          stagger: 0.2,
        }
      );
    }
  });
</script>
