---
import { service_list } from "@/lib/data/service-list";
import { cn } from "@/lib/utils";
import Container from "../Container.astro";
---

<Container>
  <h2 class="text-center text-4xl font-medium mb-20">Наши услуги</h2>
  <Container className="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
    {
      service_list.map((service) => (
        <a
          href={service.link}
          class={cn(
            "p-10 border-[1px] rounded-md border-gray-800 hover:border-opacity-30  hover:bg-gradient-to-tl from-slate-100 transition-all dark:from-[rgba(32,39,57,255)]",
            service.label.includes("информационной") && "md:col-span-2"
          )}
        >
          <service.icon className="mb-4" color="#0c94d4" size={36} />
          <span class="text-xl font-bold">{service.label}</span>
          <p class="mt-2 text-gray-400">{service.desc}</p>
        </a>
      ))
    }
  </Container>
</Container>
