---
import { getTranslations } from "@/utils/i18n";
import Text from "@/components/ui/Text.astro";
const sponsors = [
  "/sponsors/dell.svg",
  "/sponsors/ddos-guard.svg",
  "/sponsors/fortinet.svg",
  "/sponsors/huawei.svg",
  "/sponsors/kaspersky.svg",
  "/sponsors/lenovo.svg",
  "/sponsors/microsoft.svg",
  "/sponsors/milestone.svg",
  "/sponsors/pan.svg",
];

const locale = Astro.url.pathname.startsWith("/uz") ? "uz" : "ru";
const t = getTranslations(locale, "Sponsors");
---

<section class="my-dynamic space-y-10">
  <Text
    text={t.title}
    variant="h2"
    class="text-center mb-dynamic"
    id="servicesTitle"
  />
  <div class="stock-ticker">
    <ul>
      {
        sponsors.map((sponsor) => (
          <li>
            <img src={sponsor} alt="sponsor" />
          </li>
        ))
      }
    </ul>

    <ul aria-hidden="true">
      {
        sponsors.map((sponsor) => (
          <li>
            <img src={sponsor} alt="sponsor" />
          </li>
        ))
      }
    </ul>
  </div>
</section>
