---
import Text from "@/components/ui/Text.astro";
import clsx from "clsx";

interface Props {
  title: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<div
  class={clsx("grid lg:grid-cols-6 gap-dynamic10", className)}
  id="aboutSectionContainer"
>
  <Text
    text={title}
    variant="h2"
    class="lg:col-span-2"
    id="aboutSectionTitle"
  />
  <div
    class="lg:col-span-4 mt-dynamic10 text-large lg:mt-0"
    id="aboutSectionChildren"
  >
    <slot />
  </div>
</div>

<script>
  import { gsapTrigger } from "@/lib/gsapTrigger";

  const aboutSectionContainer = document.getElementById(
    "aboutSectionContainer"
  );
  const aboutSectionTitle = document.getElementById("aboutSectionTitle");
  const aboutSectionChildren = document.getElementById("aboutSectionChildren");

  if (aboutSectionContainer) {
    const tl = gsapTrigger(aboutSectionContainer);
    tl.fromTo(
      aboutSectionTitle,
      { y: 50, opacity: 0, scale: 0.8 },
      { y: 0, opacity: 1, scale: 1, duration: 0.5 }
    ).fromTo(
      aboutSectionChildren,
      { y: 50, opacity: 0, scale: 0.8 },
      { y: 0, opacity: 1, scale: 1, duration: 0.5 },
      "<"
    );
  }
</script>
