---
import clsx from "clsx";
import NumberCard from "./NumberCard.astro";

interface Props {
  title: string;
  dataArray?: { title: string; description?: string }[];
  data?: string[];
  cardClassName?: string;
}

const { dataArray, title, cardClassName, data } = Astro.props;
---

<section class="my-dynamic">
  <h2 class="text-center text-extra-large font-medium" id="advantageTitle">{title}</h2>

  <div
    class={clsx(
      "grid grid-cols-1 md:grid-cols-2 items-stretch gap-dynamic10 mt-dynamic20",
      cardClassName
    )}
    id="advantageCards"
  >
    {
      dataArray &&
        dataArray.map((item) => (
          <NumberCard title={item.title} description={item.description} />
        ))
    }
    {data && data.map((item) => <NumberCard title={item} />)}
  </div>
</section>

<script>
  import { gsapTrigger } from "@/lib/gsapTrigger";

  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".number-card");
    const advantageSectionContainer = document.getElementById("advantageCards");
    const advantageTitle = document.getElementById("advantageTitle");

    if (advantageSectionContainer && advantageTitle && cards.length) {
      const tl = gsapTrigger(advantageSectionContainer);
      tl.fromTo(
        advantageTitle,
        { y: 50, opacity: 0 },
        { y: 0, opacity: 1, duration: 0.3 }
      );
      cards.forEach((card) => {
        tl.fromTo(
          card,
          { y: 50, opacity: 0 },
          {
            y: 0,
            opacity: 1,
            duration: 0.1,
          }
        );
      });
    }
  });
</script>
