---
import clsx from "clsx";
import { CircleCheck } from "lucide-react";
import Text from "../ui/Text.astro";
interface Props {
  title: string;
  data: string[];
  cardClassName?: string;
}

const { data, title, cardClassName } = Astro.props;
---

<div class="bg-slate-100 dark:bg-[#0f172a80] p-4 lg:p-10 rounded-xl" id="advIconCardsContainer">
 <Text text={title} variant="h2" class="text-center" id="advIconsTitle"/>

  <div
    class={clsx(
      "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6 md:gap-8 lg:gap-10 mt-dynamic20",
      cardClassName
    )}
  >
    {
      data.map((desc) => (
        <div class="flex gap-2 advIconCards text-regular">
          <div>
            <CircleCheck size={36} color="#3b82f6" />
          </div>
          <Text text={desc} variant="h5"/>
        </div>
      ))
    }
  </div>
</div>

<script>
  import { gsapTrigger } from "@/lib/gsapTrigger";

  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".advIconCards");
    const advantageSectionContainer = document.getElementById(
      "advIconCardsContainer"
    );
    const advantageTitle = document.getElementById("advIconsTitle");

    if (advantageSectionContainer) {
      const tl = gsapTrigger(advantageSectionContainer);
      tl.fromTo(
        advantageTitle,
        { y: 50, opacity: 0, scale: 0.8 },
        { y: 0, opacity: 1, duration: 0.5, scale: 1 }
      );
      cards.forEach((card) => {
        tl.fromTo(
          card,
          { y: 50, opacity: 0 },
          {
            y: 0,
            opacity: 1,
            duration: 0.2,
          }
        );
      });
    }
  });
</script>
