---
import { Send, Instagram } from "lucide-react";
import "@/styles/globals.css";
import HeaderNavigationMenu from "@/components/shared/HeaderNavigationMenu";
import { ToggleTheme } from "@/components/shared/ToggleTheme";
---

<nav
  class="fixed top-0 z-20 w-full hidden lg:block bg-[#0C94D4] dark:bg-opacity-10 dark:backdrop-blur-lg dark:hover:backdrop-blur"
>
  <div
    class="flex justify-between h-20 max-w-7xl mx-auto py-4 px-4 2xl:px-0 items-center"
  >
    <a
      href="/"
      class="tracking-wider h-40 text-2xl w-36 bg-no-repeat bg-left bg-contain"
      id="logo"
    >
    </a>
    <div class="flex items-center gap-2">
      <HeaderNavigationMenu client:idle />
      <ul class="flex gap-2">
        <li>
          <a
            href="https://t.me/muradibragimov"
            aria-label="Отправить сообщение"
            title="Отправить сообщение"
            target="_blank"
          >
            <Send size={20} color="#fff" />
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/smartcloud.uz?igsh=MTRrY2UwbXFjdmpodQ=="
            aria-label="Наш Instagram"
            title="Следуйте за нами в Instagram"
            target="_blank"
          >
            <Instagram size={20} color="#fff" />
          </a>
        </li>
      </ul>
      <ToggleTheme client:idle />
    </div>
  </div>
</nav>
