---
import { Send, Instagram } from "lucide-react";
import "@/styles/globals.css";
import HeaderMenu from "@/components/shared/HeaderMenu";
import { ToggleTheme } from "@/components/shared/ToggleTheme";
---

<nav
  class="fixed top-0 z-20 w-full hidden lg:block bg-slate-500 bg-opacity-10 backdrop-blur-lg hover:backdrop-blur"
>
  <div class="flex justify-between h-16 max-w-7xl mx-auto py-4 items-center">
    <a
      href="/"
      class="font-bold tracking-wider text-2xl h-[40px] w-40 bg-no-repeat bg-left bg-contain"
      id="logo"
    >
    </a>
    <div class="flex items-center gap-5">
      <HeaderMenu client:load />
      <ul class="flex gap-2">
        <li>
          <a
            href="https://t.me/muradibragimov"
            aria-label="Отправить сообщение"
            title="Отправить сообщение"
            target="_blank"
          >
            <Send size={20} />
          </a>
        </li>
        <li>
          <a
            href="https://instagram.com/smartcloud.kz/"
            aria-label="Наш Instagram"
            title="Следуйте за нами в Instagram"
            target="_blank"
          >
            <Instagram size={20} />
          </a>
        </li>
      </ul>
      <ToggleTheme client:load />
    </div>
  </div>
</nav>
