---
const currentLocale = Astro.url.pathname.startsWith('/uz') ? 'uz' : 'ru';
const newPath = Astro.url.pathname.replace(/^\/uz/, ''); 
const ruPath = newPath || '/';
const uzPath = `/uz${newPath}`;
---

<select 
  class="bg-transparent text-white py-1 rounded hover:bg-sky-700"
  onchange="window.location.href = this.value"
>
  <option value={ruPath} selected={currentLocale === 'ru'}>Русский</option>
  <option value={uzPath} selected={currentLocale === 'uz'}>O‘zbekcha</option>
</select>
