---
interface NumberCardProps {
  number: number;
  title: string;
  description?: string;
}
const { number, title, description } = Astro.props as NumberCardProps;
---

<div
  class="p-10 border-[1px] border-gray-800 rounded-md hover:-translate-y-2 duration-200"
>
  <h2 class="text-4xl text-blue-500 font-semibold">{number}.</h2>
  <h4 class="mt-2 mb-6 text-2xl font-semibold break-words hyphens-manual" lang="ru">
    {title}
  </h4>
  <p>
    {description}
  </p>
</div>
