---
import Text from "../ui/Text.astro";
interface NumberCardProps {
  title?: string;
  description?: string;
}
const { title, description } = Astro.props as NumberCardProps;
---

<div
  class="p-5 border-[1px] border-secondary/30 rounded-md hover:-translate-y-2 hover:border-secondary duration-200 number-card"
>
  <Text text={title ?? ""} variant="h4" class="mt-2 mb-6 font-semibold break-words hyphens-manual"/>
  <Text text={description ?? ""} variant="h5"/>
</div>
