---
interface NumberCardProps {
  number: number;
  title: string;
  description?: string;
}
const { number, title, description } = Astro.props as NumberCardProps;
---

<div
  class="p-10 border-[1px] border-secondary/30 rounded-md hover:-translate-y-2 hover:border-secondary duration-200 number-card"
  >
  <h2 class="text-4xl text-secondary font-semibold">{number}.</h2>
  <h4
    class="mt-2 mb-6 text-2xl font-semibold break-words hyphens-manual"
    lang="ru"
  >
    {title}
  </h4>
  <p>
    {description}
  </p>
</div>
