---
import AboutSection from "@/components/shared/AboutSection.astro";
import AdvantageCard from "@/components/shared/AdvantageCard.astro";
import AdvantageCardWithIcon from "@/components/shared/AdvantageCardWithIcon.astro";
import Layout from "@/layouts/Layout.astro";
import {
  securitySupportData,
  securitySupportData2,
} from "@/lib/data/securitySupportData";
import Hero from "@/widgets/Hero.astro";

import securitySupportImg from "@/assets/support.png";
import SupportAccordion from "@/widgets/security/support/SupportAccordion";

const seoData = {
  title: "Техническая поддержка SmartCloud – Поддержка 24/7",
  description:
    "Техническая поддержка облачных сервисов SmartCloud. Помощь в настройке, мониторинг, консультации 24/7.",
  descriptionUz:
    "SmartCloud texnik qo‘llab-quvvatlashi – 24/7 yordam, monitoring va maslahat.",
  keywords: "техническая поддержка, IT-поддержка, помощь 24/7, SmartCloud",
  keywordsUz: "texnik yordam, IT-yordam, 24/7 qo‘llab-quvvatlash, SmartCloud",
  url: "https://smartcloud.uz/support/",
  image: "https://smartcloud.uz/assets/support.svg",
  author: "SmartCloud",
};
---

<Layout {...seoData}>
  <Hero imgSrc={securitySupportImg}>
    <h1 class="text-3xl font-medium lg:text-5xl">
      Профессиональная <br />
      <span class="text-secondary"> Поддержка ИБ </span>
      <br /> Мониторинг и Управление Безопасностью
    </h1>
    <p class="text-xl mt-6 hidden sm:block">
      Наш сервис предоставляет комплексную техническую поддержку ИБ, включая
      мониторинг, анализ проблем и разработку персональных программ управления
      информационной безопасностью для максимальной защиты ваших данных
    </p>
  </Hero>

  <AboutSection title="Наше уникальное предложение">
    <p>
      Для наших клиентов информационная безопасность в Казахстане поддерживается
      по строгим международным стандартам и нормативам. В сервисе задействованы
      физические и информационные ресурсы провайдера и актуальные технологии. Мы
      помогаем создать и поддерживать максимально возможный уровень защиты
      рабочих операций и процессов без непосильных инвестиций. Многоэлементная
      защита выстраивается с учетом уязвимостей физического оборудования,
      человеческого фактора и информационно-технологической архитектуры
      IT-системы
    </p>
  </AboutSection>

  <AdvantageCard
    title="Преимущества услуг по информационной безопасности"
    data={securitySupportData}
  />
  <AdvantageCardWithIcon
    cardClassName="xl:grid-cols-3"
    title="Что вы получаете с этой услугой?"
    data={securitySupportData2}
  />

  <SupportAccordion client:idle />
</Layout>
