---
import AboutSection from "@/components/shared/AboutSection.astro";
import Layout from "@/layouts/Layout.astro";
import { vnfAdvantages } from "@/lib/data/vnfData";
import Hero from "@/widgets/Hero.astro";
import vnf from "@/assets/vnf.webp";
import AdvantageCard from "@/components/shared/AdvantageCard.astro";
const seoData = {
  title: "Техническая поддержка SmartCloud – Поддержка 24/7",
  description:
    "Техническая поддержка облачных сервисов SmartCloud. Помощь в настройке, мониторинг, консультации 24/7.",
  descriptionUz:
    "SmartCloud texnik qo‘llab-quvvatlashi – 24/7 yordam, monitoring va maslahat.",
  keywords: "техническая поддержка, IT-поддержка, помощь 24/7, SmartCloud",
  keywordsUz: "texnik yordam, IT-yordam, 24/7 qo‘llab-quvvatlash, SmartCloud",
  url: "https://smartcloud.uz/support/",
  image: "https://smartcloud.uz/assets/support.svg",
  author: "SmartCloud",
};
---

<Layout {...seoData}>
  <Hero imgSrc={vnf}>
    <h1 class="text-dynamic font-medium leading-none"> 
      <span class="text-secondary">Virtual Network Firewall</span>
      – межсетевой экран следующего поколения
    </h1>
    <p class="text-medium mt-6">
      Полный контроль над вашей сетью. Минимизируйте риски, максимизируйте
      производительность
    </p>
  </Hero>

  <AboutSection title="Что такое Virtual Network Firewall?">
    <p>
      Виртуальный сетевой брандмауэр, который обеспечивает передовую защиту от
      широкого спектра сетевых угроз. Он позволяет вам применять согласованные
      политики безопасности в частных, публичных облаках через создание
      индивидуальных правил фильтрации
    </p>
  </AboutSection>
  <AdvantageCard
    title="Преимущества Virtual Network Firewall"
    data={vnfAdvantages}
    cardClassName="xl:grid-cols-3"
  />
</Layout>
