---
import Layout from "../layouts/Layout.astro";
import Services from "@/widgets/homepage/Services.astro";
import AboutUs from "@/widgets/homepage/AboutUs.astro";
import Hero from "@/widgets/Hero.astro";

import main from "@/assets/main.png";
import Sponsors from "@/widgets/homepage/Sponsors.astro";

const seoData = {
  title: "SmartCloud – Облачные технологии IaaS, VDS, BaaS, SaaS в Узбекистане",
  description:
    "Облачные сервисы в Узбекистане: IaaS, VDS, BaaS, S3-хранилище, антивирус Kaspersky, DDoS-защита, SOC. Надежные решения для бизнеса от SmartCloud.",
  descriptionUz:
    "Oʻzbekistonda bulut xizmatlari: IaaS, VDS, BaaS, S3-xotira, Kaspersky antivirus, DDoS himoyasi, SOC. SmartCloud’dan ishonchli biznes yechimlari.",
  keywords:
    "облако, облачные сервисы, IaaS, VDS, хостинг, VPS, SmartCloud, облачное хранилище, SaaS, безопасность, SOC, DDoS, firewall",
  keywordsUz:
    "bulut, bulut xizmatlari, IaaS, VDS, hosting, VPS, SmartCloud, bulut xotirasi, SaaS, xavfsizlik, SOC, DDoS, firewall",
  url: "https://smartcloud.uz/",
  image: "https://smartcloud.uz/assets/smartcloud.svg",
  author: "SmartCloud",
};
---

<Layout {...seoData}>
  <Hero imgSrc={main}>
    <h1 class="text-dynamic font-medium leading-none">
      Добро пожаловать в Smart<span class="text-secondary">Cloud</span>
      - Ваш маркетплейс облачных услуг!
    </h1>
    <p class="text-medium mt-4 lg:mt-10">
      Создавайте ИТ-решения с использованием проверенных облачных технологий!
      <br />
      Быстрый старт, меньше расходов, высокая надежность!
    </p>
  </Hero>
  <AboutUs />

  <Services />

  <Sponsors />
</Layout>
