---
import Layout from "../layouts/Layout.astro";
import Services from "@/widgets/homepage/Services.astro";
import AboutUs from "@/widgets/homepage/AboutUs.astro";
import Hero from "@/widgets/Hero.astro";
---

<Layout title="Home">
  <Hero imgSrc="https://www.it-cnp.com/sites/default/files/data-center.png">
    <h1 class="text-[5vw] font-bold leading-none lg:text-[2vw]">
      Добро пожаловать в Smart<span class="text-secondary">Cloud</span>
      - Ваш маркетплейс облачных услуг!
    </h1>
    <p class="text-md mt-2 lg:mt-10 lg:text-xl">
      Создавайте ИТ-решения с использованием проверенных облачных технологий!
      Быстрый старт, меньше расходов, высокая надежность!
    </p>
  </Hero>
  <AboutUs />

  <Services />
</Layout>
