---
import Text from '../../ui/Text.astro';
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<div
  class="overflow-hidden flex gap-5 border border-secondary/30 p-3 py-6 relative rounded-md hover:border-secondary"
>
  <div class="absolute top-0 bg-secondary w-2 rounded-md -translate-x-4 h-full">
  </div>
  <div class="ml-3">
    <Text text={title} variant="h3" class="mb-2 mr-5"/>
    
    <Text text={description ?? ''} variant="h5" class="pr-5"/>
  </div>
</div>
