---
import type { LucideIcon } from "lucide-react";
import Text from "@/components/ui/Text.astro";

interface Props {
  title: string;
  Icon: LucideIcon;
}

const { title, Icon } = Astro.props;
---

<div class="flex items-start gap-3">
  <div class="p-3 bg-secondary/20 inline-flex items-center justify-center rounded-sm">
    {Icon && <Icon className="w-6 h-6" />}
  </div>
  <Text text={title} variant="h3"/>
</div>
