---
import AboutSection from "@/components/shared/AboutSection.astro";
import AdvantageCard from "@/components/shared/AdvantageCard.astro";
import AdvantageCardWithIcon from "@/components/shared/AdvantageCardWithIcon.astro";
import Layout from "@/layouts/Layout.astro";
import {
  securitySupportData,
  securitySupportData2,
} from "@/lib/dataUZ/securitySupportData";
import Hero from "@/widgets/Hero.astro";

import securitySupportImg from "@/assets/support.png";
import SupportAccordion from "@/widgets/security/support/SupportAccordion.astro";

const seoData = {
  title: "Техническая поддержка SmartCloud – Поддержка 24/7",
  description:
    "SmartCloud texnik qo‘llab-quvvatlashi – 24/7 yordam, monitoring va maslahat.",
  keywords: "texnik yordam, IT-yordam, 24/7 qo‘llab-quvvatlash, SmartCloud",
  url: "https://smartcloud.uz/uz/support/",
  image: "https://smartcloud.uz/assets/support.svg",
  author: "SmartCloud",
};
---

<Layout {...seoData}>
  <Hero imgSrc={securitySupportImg}>
    <h1 class="text-dynamic font-medium leading-none"> 
      Professional <br />
      <span class="text-secondary"> IT xavfsizlikni qo‘llab-quvvatlash </span>
      <br /> Monitoring va xavfsizlikni boshqarish
    </h1>
    <p class="text-medium mt-6 hidden sm:block">
      Xizmatimiz axborot xavfsizligini kompleks texnik qo‘llab-quvvatlashni taqdim etadi, jumladan 
      monitoring, muammolarni tahlil qilish va ma’lumotlaringizni maksimal himoya qilish uchun 
      shaxsiy xavfsizlik boshqaruv dasturlarini ishlab chiqish.
    </p>
  </Hero>

  <AboutSection title="Bizning noyob taklifimiz">
    <p>
      Bizning mijozlarimiz uchun Qozog‘istonda axborot xavfsizligi xalqaro standartlar va 
      normalarga qat’iy rioya qilgan holda ta’minlanadi. Xizmat provayderning jismoniy va 
      axborot resurslari hamda zamonaviy texnologiyalar asosida ishlaydi. Biz ish jarayonlari 
      va operatsiyalarini ortiqcha investitsiyalarsiz maksimal darajada himoya qilishga yordam 
      beramiz. Ko‘p elementli himoya jismoniy uskunalarning zaifliklari, inson omili va IT-
      tizimning axborot-texnologik arxitekturasi hisobga olingan holda shakllantiriladi.
    </p>
  </AboutSection>

  <AdvantageCard
    title="Axborot xavfsizligi xizmatlarining afzalliklari"
    data={securitySupportData}
  />
  <AdvantageCardWithIcon
    cardClassName="xl:grid-cols-3"
    title="Siz ushbu xizmat bilan nimaga ega bo'lasiz?"
    data={securitySupportData2}
  />

  <SupportAccordion/>
</Layout>
