---
import Layout from "@/layouts/Layout.astro";
import Container from "@/widgets/Container.astro";
import Hero from "@/widgets/Hero.astro";
import KasperskySolutions from "@/widgets/kaspersky/KasperskySolutions.astro";

import kaspersky from "@/assets/kaspersky.webp";
---

<Layout title="Kaspersky">
  <Container>
    <Hero imgSrc={kaspersky}>
      <h1 class="text-3xl font-medium lg:text-5xl">
        Решения <span class="text-secondary">Kaspersky</span> -
        сосредоточьтесь на развитии бизнеса, мы позаботимся о безопасности
      </h1>
      <p class="text-sm mt-2 lg:text-xl">
        «Лаборатория Касперского» предлагает передовые решения для защиты, позволяя
        вам сосредоточиться на развитии без опасений
      </p>
    </Hero>
    
    <KasperskySolutions />
  </Container>
</Layout>
