---
import AboutSection from "@/components/shared/AboutSection.astro";
import AdvantageCard from "@/components/shared/AdvantageCard.astro";
import AdvantageCardWithIcon from "@/components/shared/AdvantageCardWithIcon.astro";
import Layout from "@/layouts/Layout.astro";
import { socAdvantages, socAdvantages2 } from "@/lib/data/socData";
import Hero from "@/widgets/Hero.astro";

import socImg from "@/assets/waf.svg";
import SocAccordion from "@/widgets/security/soc/SocAccordion.astro";

const seoData = {
  title: "Security Operations Center (SOC) – Мониторинг и защита",
  description:
    "Центр безопасности (SOC) – круглосуточный мониторинг и реагирование на кибератаки. Комплексные услуги по защите бизнеса.",
  descriptionUz: "SOC – kiberxavfsizlik monitoringi va 24/7 himoya.",
  keywords:
    "SOC, центр кибербезопасности, мониторинг атак, защита данных, SmartCloud",
  keywordsUz:
    "SOC, xavfsizlik markazi, hujum monitoringi, ma’lumotlarni himoya qilish, SmartCloud",
  url: "https://smartcloud.uz/cloud-services/soc/",
  image: "https://smartcloud.uz/assets/waf.svg",
  author: "SmartCloud",
};
---

<Layout {...seoData}>
  <Hero imgSrc={socImg}>
    <h1 class="text-dynamic font-medium leading-none"> 
      <span class="text-secondary">SOC</span>
      – комплексная защита Ваших цифровых активов
    </h1>
    <p class="text-medium mt-2">
      Наш Центр Операционной Безопасности (SOC) обеспечивает круглосуточный
      мониторинг, анализ и противодействие сетевым атакам, защищая ваши цифровые
      данные в режиме реального времени
    </p>
  </Hero>

  <AboutSection title="Как работает SOC?">
    <p>
      Центр оперативного реагирования решает комплекс задач по оптимизации
      системы менеджмента ИБ компании за счет:
    </p>
    <ul>
      <li>- регулярной коррекции и дополнения мер защиты;</li>
      <li>
        - уменьшения времени реакции на атаки и инциденты инфобезопасности за
        счет использования готовых сценариев реагирования;
      </li>
      <li>
        - внедрения средств автоматизации для выявления инцидентов
        информационной безопасности и реагирования
      </li>
    </ul>
  </AboutSection>

  <AdvantageCard title="Преимущества услуги SOC" data={socAdvantages} />
  <AdvantageCardWithIcon
    title="Что вы получаете с этой услугой"
    data={socAdvantages2}
  />

  <SocAccordion client:idle />
</Layout>
