---
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section class={cn("max-w-[1440px] mx-4 xl:mx-auto", className)}>
  <slot />
</section>
