---
import { ContactDialog } from "@/components/shared/ContactDialog";

interface Props {
  imgSrc: string;
}

const { imgSrc } = Astro.props;
---

<div class="h-screen grid grid-cols-5 items-center gap-10">
  <div class="col-span-5 lg:col-span-3">
    <slot />
    <div
      class="flex mt-10 justify-center lg:justify-start flex-col gap-4 md:flex-row"
    >
      <ContactDialog client:load />
      <a
        href="https://portal.smartcloud.uz/index.php?/products/"
        target="_blank"
        class="h-9 flex items-center justify-center px-6 bg-white text-black rounded-3xl font-medium text-sm"
        rel="noopener noreferrer">Перейти к заказу</a
      >
    </div>
  </div>
  <picture class="w-full hidden lg:block col-span-2">
    <source media="(min-width: 1024px)" srcset={imgSrc} />
    <!-- Пустой img для поддержки браузеров, которые не понимают <picture> -->
    <img src="" alt="" />
  </picture>
</div>
