---
import { ContactDialog } from "@/components/contactModal/ContactDialog";
import { Image } from "astro:assets";

const { imgSrc } = Astro.props;
---

<div class="h-screen grid grid-cols-5 items-center gap-10">
  <div class="col-span-5 lg:col-span-3 text-center lg:text-left">
    <slot />
    <div
      class="flex mt-10 justify-center lg:justify-start flex-col gap-4 md:flex-row"
    >
      <a
        href="https://portal.smartcloud.uz/index.php?/products/"
        target="_blank"
        class="h-9 flex items-center justify-center px-6 bg-secondary text-white dark:bg-white dark:text-black rounded-3xl font-medium text-md"
        >Перейти к заказу</a
      >
      <ContactDialog client:idle />
    </div>
  </div>

  <div class="w-full hidden lg:block col-span-2">
    <Image
      src={imgSrc}
      alt="Описание изображения"
      loading="lazy"
      class="max-h-[480px]"
      width={500}
      height={500}
    />
  </div>
</div>
