---
import { ContactDialog } from "@/components/shared/ContactDialog";
---

<div
  class="h-screen items-center justify-center flex bg-[radial-gradient(ellipse_at_top,_#C3CBDC_0%,_#fff_54%)] dark:bg-[radial-gradient(ellipse_at_top,_rgba(32,39,57,255)_0%,_rgba(0,0,0,1)_50%)] text-center flex flex-col gap-4"
>
  <slot />
  <div class="flex justify-center mt-10 flex-col gap-4 md:flex-row">
    <ContactDialog client:load />
    <a
      href="https://portal.smartcloud.uz/index.php?/products/"
      target="_blank"
      class="h-9 flex items-center justify-center px-6 bg-white text-black rounded-3xl font-medium text-sm"
      rel="noopener noreferrer">Перейти к заказу</a
    >
  </div>
</div>
