---
import { ContactDialog } from "@/components/contactModal/ContactDialog";
import Container from "./Container.astro";
import { getTranslations } from "@/utils/i18n";

const locale = Astro.url.pathname.startsWith('/uz') ? 'uz' : 'ru';
const t = await getTranslations(locale, "trialSection");

interface Props {
  days: number;
}

const { days } = Astro.props;
---

<Container
  className="bg-slate-100 dark:bg-slate-900/50 p-5 rounded-2xl lg:py-20"
>
  <div class="text-center m-4">
    <h2 class="text-extra-large font-medium flex flex-wrap justify-center">
      {days} {t.title}
    </h2>
    <p class="mt-4 mb-8 whitespace-pre-line text-regular">
      {t.descriptionFirstPart}
    </p>
    <ContactDialog client:idle />
  </div>
</Container>
