---
import { ContactDialog } from "@/components/shared/ContactDialog";
import Container from "./Container.astro";
---

<Container className="bg-slate-900/50 p-5 rounded-2xl lg:py-20">
  <div class="text-center m-4">
    <h2 class="text-3xl font-medium lg:text-4xl flex flex-wrap justify-center">
      10 дней бесплатно без обязательств!
    </h2>
    <p class="mt-4 mb-8">
      Погрузитесь в использование нашего сервиса без затрат. <br /> Активируйте бесплатный
      период и оцените преимущества уже сегодня!
    </p>
    <ContactDialog client:load />
  </div>
</Container>
