---
import { iaas_advantages } from "@/lib/data/iaasData";
---

<div class="my-40" id="iaasAdvantages">
  <h2 class="text-center text-4xl font-medium mb-20" id="iaasAdvantagesTitle">
    Наша преимущества
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      iaas_advantages.map((item) => (
        <div class="group relative flex items-center justify-center iaas-card">
          <span class="text-[124px] italic text-stroke transition-all group-hover:skew-y-6 group-hover:rotate-12">{item.id}</span>
          <p class="absolute z-[2] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center text-lg font-bold">
            {item.title}
          </p>
        </div>
      ))
    }
  </div>
</div>

<script>
  import { gsapTrigger } from "@/lib/gsapTrigger";

  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".iaas-card");
    const iaasAdvantages = document.getElementById("iaasAdvantages");
    const iaasAdvantagesTitle = document.getElementById("iaasAdvantagesTitle");

    if (iaasAdvantages && iaasAdvantagesTitle && cards.length) {
      const tl = gsapTrigger(iaasAdvantages);
      tl.fromTo(
        iaasAdvantagesTitle,
        { y: 50, opacity: 0 },
        { y: 0, opacity: 1, duration: 0.3 }
      ).fromTo(
        cards,
        { y: 50, opacity: 0 },
        {
          y: 0,
          opacity: 1,
          stagger: 0.2,
        }
      );
    }
  });
</script>
