---
import AboutSection from "@/components/shared/AboutSection.astro";
import AdvantageCard from "@/components/shared/AdvantageCard.astro";
import AdvantageCardWithIcon from "@/components/shared/AdvantageCardWithIcon.astro";
import Layout from "@/layouts/Layout.astro";
import { ddosData, ddosData2 } from "@/lib/dataUZ/ddosData";
import Hero from "@/widgets/Hero.astro";

import ddosImg from "@/assets/ddos.png";
import DdosAccordion from "@/widgets/security/ddos/DdosAccordion.astro";

const seoData = {
  title: "DDoS Protection – Защита от DDoS-атак от SmartCloud",
  description:
    "DDoS hujumlariga qarshi ishonchli himoya. Tarmoq trafigini filtrlash va hujumlarni oldini olish.",
  keywords:
    "DDoS himoyasi, kiberxavfsizlik, server himoyasi, tarmoq xavfsizligi, SmartCloud",
  url: "https://smartcloud.uz/uz/cloud-services/ddos-protection/",
  image: "https://smartcloud.uz/assets/ddos-protection.svg",
  author: "SmartCloud",
};
---

<Layout {...seoData}>
  <Hero imgSrc={ddosImg}>
    <h1 class="text-dynamic font-medium leading-none"> 
      <span class="text-secondary">DDoS</span>-hujumlarga biznesingizni to‘xtatishiga yo‘l qo‘ymang!
    </h1>
    <p class="text-medium mt-2">
      Sizning resurslaringizni OSI modeli L3, L4 va L7 darajalarida DDoS hujumlaridan himoya qilish 
      uchun ilg‘or yechimlar. Xizmatlarning uzluksiz ishlashi va mijozlar uchun doimiy mavjudligini 
      bizning ishonchli xizmatlarimiz bilan ta’minlang.
    </p>
  </Hero>
  <AboutSection title="Serverni DDoS hujumlaridan himoya qilish">
    <p>
      Himoya xavfsiz IP-tranzit shaklida amalga oshiriladi, mijozning tarmog‘i (serveri) uchun 
      kompleks xavfsizlikni ta’minlaydi. Xizmat doirasida quyidagi himoya taqdim etiladi:
    </p>
    <br />
    <ul>
      <li>- Mijoz kanallari</li>
      <li>- Kommutatsiya uskunalari</li>
      <li>- Onlayn xizmatlar, ishlatilayotgan protokollardan qat'i nazar</li>
    </ul>
  </AboutSection>
  <AdvantageCard title="DDoS hujumlaridan himoya afzalliklari" data={ddosData} />

  <AdvantageCardWithIcon
    title="DDoS hujumlaridan himoya afzalliklari"
    data={ddosData2}
  />

  <DdosAccordion client:idle />
</Layout>
